/* If you add background image it will look like transparent form*/
#bodyLogin {
    /* background-image: url('../../public/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #3BB9FF;
}

thead {
    background-color: rgb(192,192,192);
}

.custom-margin {
    margin-top: 20vh;
}